* {
    font-family: 'Roboto', sans-serif;
}
#game {
    width: 80%;
    height: 250px;
    background-color: #6b47e2;
    margin: auto;
    padding: 20px;
}
#question {
    color: #fff;
    width: 80%;
    height: 2em;
    background-color: #9179e3;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.ans {
    display: inline-block;
    text-align: center;
    color: azure;
    background-color: #4827b2;
    width: 30%;
    height: auto;
    padding: 10px;
    margin: auto;
    border: solid 1px #000;
}

#answer {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
span {
    color: aquamarine;
}